<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
    <style>
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . .";
      }
    </style>
  </head>
  <body class="p-5">
    <h1 class="text-4xl font-semibold text-center">My album</h1>
    <a
      href="/upload"
      class="px-5 py-2 rounded-full bg-blue-600 text-white block w-32 text-center mx-auto mt-4"
    >
      Upload
    </a>
    <div class="grid grid-cols-4 gap-4 mt-24">
      <div class="relative bg-red-500 rounded-md">
        <img src="<%= img %>" class="object-cover rounded-md" alt="s3 image" />
        <div class="absolute top-2 right-2">
          <div class="flex items-center gap-5">
            <span class="bg-white">Del</span>
            <span class="bg-white">Edit</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
