<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload image</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="text-4xl font-semibold text-center">Upload new image</h1>

    <form
      method="post"
      class="p-10 bg-white shadow-sm border max-w-2xl mx-auto mt-5"
      enctype="multipart/form-data"
    >
      <input
        type="file"
        placeholder="upload image"
        name="image"
        class="border-2 border-gray-200 p-2 rounded-md"
      />
      <button
        class="block px-5 py-2 rounded-md bg-blue-600 mt-5 text-white font-semibold"
      >
        Upload
      </button>
    </form>
  </body>
</html>
